{% extends 'webvinyl/base.html' %}
{% load crispy_forms_tags %}
<!-- Auf dieser Page, wird über ein vorher definiertes Formular die erweiterte Musiksuche geladen -->

{% block content %}
<br>
<form method="POST" action="{% url 'found_music' change=2 %}">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Erweiterte Suche</legend>
        {{ form|crispy }}
    </fieldset>
    <div class ="form-group">
        <button type="submit" class="btn btn-outline-info">Suchen</button>
    </div>
</form> 


{% endblock %}