{% load static %}

<!-- Diese Base-HTML stellt die obere Menüleiste dar -->
<!DOCTYPE html>
<html lang="de">
<head>
  <title>WebVinyl</title>
  <meta charset="utf-8">
  <link rel="icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'webvinyl/site.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm navi navbar-light fixed-top">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="{% url 'base' %}">
      <img src="{% static 'image/Logo.png' %}" alt="logo" style="width:160px;">
    </a>
    <!-- Buttontoggle-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'base' %}">Newsfeed</a>
        </li>
        <li class="nav-item follow-mobile">
          <a class="nav-link" href="{% url 'following' %}">Meine Follows</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'search_user' %}">User suchen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'search_music' %}">Musik suchen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' pk=user.pk %}">Profil</a>
        </li>
        <li class="nav-item logout">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-sm-2 sidebar flist">
        <div class="px-3 sidebar-sticky">
          {% include 'webvinyl/follow.html' %}
        </div>
      </div>
      <!-- Main -->
      <div role="main" class="col-sm-10 px-5 ml-auto bg-light">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

</body>
</html>
