{% extends 'webvinyl/base.html' %}
{% load static %}
{% block content %}
<br>
<h4 style="text-decoration: underline">Meine Follows:</h4>
{% for follower in follows %}
<div class="row">
    &emsp;
    <img class="rounded-circle" height="25px" width="25px" src="{{ follower.image.url }}">&nbsp;
    
    <a class="follow-user" href="{% url 'profile' pk=follower.user.pk %}">{{ follower.user.username }}</a>
</div>

<br>
{% endfor %}
{% endblock %}
