<!-- Diese Datei stellt die Followliste auf der linken Seite dar -->

{% load static %}
<ul class="nav sidebar-nav flex-column">
  <li class="nav-item">
    <h5>Meine Follows <span class="badge badge-pill badge-danger">{{ user.profile.follows.all|length }}</span></h5>
  </li>
  {% for follow in user.profile.follows.all %}
    <li class="nav-item">
      <a class="nav-link follow-user" href="{% url 'profile' pk=follow.user.pk %}">
          <img class="rounded-circle" height="25px" width="25px" src="{{ follow.image.url }}">
          {{ follow.user.username }}            
      </a>
    </li>
  {% endfor %}
</ul>
