{% extends 'webvinyl/base.html' %}
<!-- Diese Datei stellt die Followliste jedes Users dar -->
{% load static %}
{% block content %}
<ul class="nav flex-column">
    <li class="nav-item">
        <h4>Follower von {{ followed_user.username }} <span class="badge badge-pill badge-secondary">{{ follower_count }}</span></h4>
    </li>
    {% for follower in followed %}
        <li class="nav-item">
            <a class="nav-link follow-user" href="{% url 'profile' pk=follower.user.pk %}">
                <img class="rounded-circle" height="25px" width="25px" src="{{ follower.image.url }}">
                {{ follower.user.username }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}