{% extends 'webvinyl/base.html' %}

<!-- Diese Datei stellt die Suchergebnisse der Usersuche dar -->

{% block content %}
<br>
<h2>Gefundene User für: "{{ searchword }}"</h2>

{% for user in users %}
<hr>
<img class="rounded-circle" src="{{ user.profile.image.url }}" alt=".."height="50" width="50">&nbsp;
<a class="follow-user" href="{% url 'profile' pk=user.pk %}">{{ user }}</a>
{% endfor %}
<hr>
{% endblock %}