{% extends 'webvinyl/base.html' %}
<!-- Diese Datei stellt die Suchergebnisse der Musiksuche dar -->

{% block content %}
{% include 'webvinyl/music_searchbar.html' %}
<div class="row mt-3 pl-1">
  <div class="col-sm-12">
    <h2>Gefundene Musik für "{{ searchword }}":</h2>
  </div>
</div>
<div class="row mt-4">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Cover Art</th>
          <th scope="col">Title</th>
          <th scope="col">Artist</th>
          <th scope="col">Label</th>
          <th scope="col">Year</th>
        </tr>
      </thead>
      {% for vinyl in vinyls %}
      <tbody>
        <tr>
          <td>
            <a href="{% url 'vinyl_detail' masterid=vinyl.id %}">
              <img src="{{ vinyl.cover_art }}" alt="Cover Art" style="width:100px;height:100px">
            </a>
          </td>
          <td>
            <a href="{% url 'vinyl_detail' masterid=vinyl.id %}" class="text-secondary">{{ vinyl.title }}</a>
          </td>
          <td>
            {{ vinyl.artist }}
          </td>
          <td>
            {{ vinyl.label }}
          </td>
          <td>
            {{ vinyl.year }}
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}