<!-- Diese Datei stellt die Suchleiste der Musiksuche dar -->


<div class="row">
  <div class="col-sm-12">
    <form action="{% url 'found_music' change=1 %}" method="POST">{% csrf_token %}
      <div class="input-group">
        <input id="MusicSearchWord" name="MusicSearchWord" type="text" class="form-control" placeholder="Suche">
        <div class="input-group-btn">
          <button id="searchButton" class="btn btn-outline-secondary" type="submit" onclick="show_spinner()">
            Los!
          </button>
        </div>
      </div>
    </form> 
    <small class="text-muted">
        <a class="ml-2" href="{% url 'adv_search_music' %}">Erweiterte Suche</a>
    </small>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-12">
    <div id="spinner" class="container-fluid" style="display:none">
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-danger" style="width: 4rem; height: 4rem;" role="status">
          <span class="sr-only">Lade...</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
function show_spinner()
{
    document.getElementById("spinner").style.display="block";  
}
</script>