{% extends 'webvinyl/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!-- Diese Datei stellt die Newsseite dar. Fungiert als Startseite -->

<form method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="col-sm-8">
      <div class="news card">
        <div class="news-header card-header">
          <h5 class="mb-0">Post schreiben</h5>
        </div>
        <div class="news-body card-body">
          <textarea class="form-control" name="content" placeholder="Was möchtest du sagen?" id="id_content" rows="3"></textarea>
          <input class="btn btn-secondary mt-3" type="submit" value="Posten">
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Newsfeed -->
<div class="row">
  <div class="col-sm-8 mt-3">
    <div class="news card">
      <div class="news-header card-header">
        <h5 class="mb-0">Newsfeed</h5>
      </div>
      <div class="news-body card-body">
        {% for post in posts %}
          <div class="card mb-3">
            <div class="card-body">
              <div class="media">
                <!-- User image, name, and post date -->
                <img class="rounded-circle mx-2" height="30px" width="30px" src="{{ post.author.image.url }}">
                <div class="media-body">
                  <h5 class="mb-3">
                    <a class="mr-2 follow-user" href="{% url 'profile' pk=post.author.user.pk %}">{{ post.author.user.username }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                  </h5>
                  <!-- Post content -->
                  <p><span class="post-text">{{ post.content }}</span></p>
                  <!-- Number of Likes/Comments -->
                  <span class="text-muted">
                    {{ post.favourite.all|length }} Likes /
                  </span>
                  {% if post.comments.all|length == 1 %}
                    <span class="text-muted">
                      <a class="text-muted" href="{% url 'post-detail' pk=post.pk %}">{{ post.comments.all|length }} Kommentar</a>
                    </span>
                  {% else %}
                    <span class="text-muted" style="margin-bottom: 0">
                      <a class="text-muted" href="{% url 'post-detail' pk=post.pk %}">{{ post.comments.all|length }} Kommentare</a>
                    </span>
                  {% endif %}
                  <hr>
                  <!-- Like and Comment buttons -->
                  <div class="row">
                    <form action="{% url 'like-post' postkey=post.pk %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="next" value="{{ request.path }}">
                      {% if user.profile in post.favourite.all %}
                        <input type="submit" name="like" value="Like" class="btn btn-outline-success text-success mx-3" style="font-weight: bold">
                      {% else %}
                        <input type="submit" name="like" value="Like" class="btn btn-outline-secondary text-secondary mx-3">
                      {% endif %}
                    </form>
                    <a class="btn btn-outline-secondary text-secondary" href="{% url 'post-detail' pk=post.pk %}">
                      Kommentieren
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
$("#id_content").keypress(function (e) {
    if(e.which == 13 && !e.shiftKey) {        
        $(this).closest("form").submit();
        e.preventDefault();
        return false;
    }
});
</script>
{% endblock %}