{% extends 'webvinyl/base.html' %}
<!-- Diese Datei stellt die Sicherheitsfrage vor dem Löschen eines Posts dar -->


{% block content %}
<br>
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Post löschen</legend>
        <h2>Sind Sie sich sicher, das Sie den Post löschen wollen?</h2>
    </fieldset>
    <div class ="form-group">
        <button type="submit" class="btn btn-outline-danger">Ja, Löschen</button>
        <a href="{% url 'post-detail' object.id %}" class="btn btn-outline-secondary">Abbrechen</a>
    </div>
</form> 


{% endblock %}