{% extends "webvinyl/base.html" %}
<!-- Diese Datei stellt einen einzelnen Post dar -->

{% block content %}
<div class="row">
  <div class="col-sm-8">
    <div class="news card mb-5">
      <div class="news-header card-header">
        <div class="media">
          <img class="rounded-circle mx-2" height="30px" width="30px" src="{{ post.author.image.url }}">
          <div class="media-body">
            <h5>
              <a class="mr-2 follow-user" href="{% url 'profile' pk=post.author.user.pk %}">{{ post.author.user.username }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </h5>
          </div>
        </div>
      </div>
      <div class="news-body card-body">
        <div class="card mb-3">
          <div class="card-body">
            <!-- Post -->
            <p><span class="post-text">{{ post.content }}</span></p>
            <!-- Number of Likes/Comments-->
            <p>
              <span class="text-muted">
                {{ post.favourite.all|length }} Likes /
              </span>
              {% if post.comments.all|length == 1 %}
                <span class="text-muted">
                  {{ post.comments.all|length }} Kommentar
                </span>
              {% else %}
                <span class="text-muted" style="margin-bottom: 0">
                  {{ post.comments.all|length }} Kommentare
                </span>
              {% endif %}
            </p>
            <!-- Like button -->
            <form action="{% url 'like-post' postkey=post.pk %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ request.path }}">
              {% if user.profile in post.favourite.all %}
                <input type="submit" name="like" value="Like" class="btn btn-outline-success text-success" style="font-weight: bold">
              {% else %}
                <input type="submit" name="like" value="Like" class="btn btn-outline-secondary text-secondary">
              {% endif %}
            </form>
            <hr>
            <!-- Comments -->
            {% for comment in comments %}
              <div style="padding-left: 30px">
                <div class="media content-section">
                  <img class="rounded-circle mx-2" height="25px" width="25px" src="{{ comment.author.image.url }}">
                  <div class="media-body">
                    <h6>
                      <a class="mr-2 follow-user" href="{% url 'profile' pk=comment.author.user.pk %}">{{ comment.author.user.username }}</a>
                      <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
                    </h6>
                    <p class="mt-1">{{ comment.content }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <!-- Enter new comment -->
        <form method="POST">
          {% csrf_token %}
            <textarea class="form-control" name="content" placeholder="Schreibe deinen Kommentar hier..." id="id_content" rows="2"></textarea>
            <input class="btn btn-secondary mt-3" type="submit" value="Kommentieren">
        </form>
      </div>
    </div>
  </div>
</div>

<script>
$("#id_content").keypress(function (e) {
    if(e.which == 13 && !e.shiftKey) {        
        $(this).closest("form").submit();
        e.preventDefault();
        return false;
    }
});
</script>
{% endblock content %}