{% extends 'webvinyl/base.html' %}
{% load crispy_forms_tags %}
<!-- Diese Datei stellt das Eingabefeld für Posts dar -->


{% block content %}
<br>
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Post verfassen</legend>
        {{ form|crispy }}
    </fieldset>
    <div class ="form-group">
        <button type="submit" class="btn btn-outline-info">Senden</button>
    </div>
</form> 


{% endblock %}