{% extends 'webvinyl/base.html' %}
{% load crispy_forms_tags %}
<!-- Diese Datei stellt die Profilseite dar -->


{% block content %}
<div class="row mt-4">
  <div class="col-sm-2">
    <img class="rounded-circle" height="125px" width="125px" src="{{ profile_user.profile.image.url }}">
  </div>
  <div class="col-sm-8">
    <br>
    <h1>Profil von {{ profile_user.username }}</h1>
    {% if user.pk == profile_user.pk %}
    <a class="link-grey" href="{% url 'user-update' %}">Profil bearbeiten</a>
    {% endif %}
  </div>
  <div class="col-sm-2">
    <br>
    <div>
      {% if user.pk != profile_user.pk %}
      <form action="{% url 'follow-user' profilekey=profile_user.pk %}" method="POST">
        {% csrf_token %}
        {% if user.profile in profile_user.profile.followed_by.all %}
          <input type="submit" name="follow" value="Unfollow" class="btn btn-secondary mb-3">
        {% else %}
          <input type="submit" name="follow" value="Follow" class="btn btn-success mb-3">
        {% endif %}
      </form>
      {% endif %}
      <a href="{% url 'follower' pk=profile_user.pk %}" class="link-grey">{{ follower_count }} Follower</a>
    </div>
  </div>
</div>
{% if profile_user.profile.description %}
<div class="row mt-5">
  <div class="col-sm-12">
    <h4>Beschreibung:</h4>
    <p>{{ profile_user.profile.description}}</p>
  </div>
</div>
{% endif %}
{% if collection %}
<div class="row mt-4">
  <div class="col-sm-12">
    <h4>Plattenregal:</h4>
  </div>
</div>
<div class="row mt-4">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Cover Art</th>
          <th scope="col">Title</th>
          <th scope="col">Artist</th>
        </tr>
      </thead>
      {% for album in collection %}
      <tbody>
        <tr>
          <td>
            <a href="{% url 'vinyl_detail' album.identifier %}">
              <img src="{{ album.cover_uri}}" alt="Cover Art" style="width:100px;height:100px">
            </a>
          </td>
          <td>
            <a href="{% url 'vinyl_detail' album.identifier %}" class="text-secondary">{{ album.title }}</a>
          </td>
          <td>
            {{ album.artist }}
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}
{% endblock %}