{% extends 'webvinyl/base.html' %}
<!-- Diese Datei stellt die Usersuche dar -->

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <form method="POST">{% csrf_token %}
      <div class="input-group">
        <input id="username" name="username" type="text" class="form-control" placeholder="Suche">
        <div class="input-group-btn">
          <button class="btn btn-outline-secondary" type="submit">
            Los!
          </button>
        </div>
      </div>
    </form> 
  </div>
</div>
{% endblock %}
