{% extends 'webvinyl/base.html' %}
<!-- Diese Datei stellt ein Formular zum Updaten von Posts dar -->

{% load crispy_forms_tags %}

{% block content %}
    <div class="row mt-4">
      <div class="col-sm-2">
          <img class="rounded-circle" height="125px" width="125px" src="{{ profile_user.profile.image.url }}">
      </div>
      <div class="col-sm-8">
        <br>
        <h1>Profil von {{ profile_user.username }}</h1>
      </div>
      
    </div>
    <div class="container">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profil ändern</legend>
                {{ p_form|crispy }}
            </fieldset>
            <div class ="form-group">
                <button type="submit" class="btn btn-outline-info">Speichern</button>
            </div>
        </form> 
      </div>
{% endblock %}