{% extends 'webvinyl/base.html' %}
{% load static %}
<!-- Diese Datei stellt die Übersichtsseite eines Albums dar dar -->


{% block content %}
<div class="row">
  <div class="col-sm-3"> 
    <img class="img-fluid" src="{{ vinyl.cover_art }}" alt="Cover Art"> 
  </div>
  <div class="col-sm-9">
    <h3><strong>{{ vinyl.artist }} - {{ vinyl.title }}</strong></h3>
    <br>
    <p><strong>Erscheinungsdatum: </strong>{{ vinyl.year }}</p>
    <p><strong>Genre: </strong>{{ vinyl.genre }}</p>
    <form action="{% url 'add-album' albumkey=vinyl.id %}" method="POST">
        {% csrf_token %}
        {% if in_collection %}
        <input type="submit" name="remove" value="Entfernen" class="btn btn-secondary">
        {% else %}
        <input type="submit" name="add" value="Hinzufügen" class="btn btn-success">
        {% endif %}
      </form>
  </div>
</div>
<div class="row mt-sm-5 px-3">
  <h2>Trackliste:</h2>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Nummer</th>
        <th>Titel</th>
        <th>Länge</th>
      </tr>
    </thead>
    {% for track in vinyl.tracklist %}
      <tbody>
        <tr>
          <td>{{ track.number }}</td>
          <td>{{ track.title }}</td>
          {% if track.duration %}
            <td>{{ track.duration }}</td>
          {% else %}
            <td>N/A</td>
          {% endif %}
        </tr>
      </tbody>
    {% endfor %}
  </table>
</div>
<div class="row">
  <div class="card">
    {% if spotify_uri %}
      <h3 class="card-header">Spotify-Player (beta):</h3>
      <div class="card-body">
        <iframe src="https://open.spotify.com/embed/album/{{spotify_uri}}" width="500" height="200" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}