@media (max-width: 768px) {
    .flist {
        display: none;
    }

}
@media (min-width: 769px){
    .follow-mobile{
        display: none;
    }
    .logout{
        float: right;
    }
}
.navi{
    background-color: rgb(198, 205, 207);
}

[role="main"] {
    padding-top: 90px; /* Space for fixed navbar */
    height: auto;
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 90px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: rgb(236, 239, 240);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
}
.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

a.link-grey:any-link{
    color: darkgray;
    text-decoration: underline;
}

a.follow-user:any-link{
    color: black;
    text-decoration: none;
}

iframe{
    padding-bottom: 20px;
}

/* makes sure long words too long for the container wrap */
span.post-text {
    word-break: break-all;
    word-break: break-all; 
    word-break: break-word;
}

.news {
    border: 2px solid rgb(198, 205, 207);
}

.news-header {
    background-color: rgb(236, 239, 240);
}

.news-body {
    background-color: rgb(236, 239, 240);
}