{% load static %}
<!-- Diese Base-HTML stellt das Gerüst aller Seiten dar, die angezeigt werden, wenn man nicht eingeloggt ist. -->

<!DOCTYPE html>
<html lang="de">
<head>
  <title>WebVinyl</title>
  <link rel="icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  
  
</head>
<body>
    <br>
    <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <img src="{% static 'image/Logo.png' %}" alt="logo" style="width:75%;">
        <div class ="panel panel-info">
            <div class="panel-body">
        {% block content %}
        {% endblock %}
        </div>
        </div>
        </div>
    <div class="col-sm-3"></div>
    </div>
</body>
</html>