{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

<!-- Stellt die Loginseite dar -->

{% block content %}
<br>
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Login</legend>
        {{ form|crispy }}
    </fieldset>
    <div class ="form-group">
        <button type="submit" class="btn btn-outline-info">Login</button>
    </div>
</form> 
<div class="border-top pt-3">
    <small class="text-muted">
        Noch nicht registriert?
        <a class="ml-2" href="{% url 'register' %}">Jetzt registrieren</a>
    </small>
</div>

{% endblock %}