{% extends 'users/base.html' %}
<!-- LogOut-Page -->

{% block content %}
<h2>Du bist ausgeloggt.</h2>
<div class="border-top pt-3">
    <small class="text-muted">
        <a href="{% url 'login' %}">Erneut anmelden</a>
    </small>
</div>

{% endblock %}