{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
<!-- Stellt die Registrierungsseite dar -->

{% block content %}
<br>
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Join Today</legend>
        {{ form|crispy }}
    </fieldset>
    <div class ="form-group">
        <button type="submit" class="btn btn-outline-info">Registrieren</button>
    </div>
</form> 
<div class="border-top pt-3">
    <small class="text-muted">
        Hast du schon einen Account?
        <a class="ml-2" href="{% url 'login' %}">Anmelden</a>
    </small>
</div>

{% endblock %}